
<div class="lq-container">
  <div class="main-div">
    <div class="row">
      <div class="col-6 ">
        <button (click)="endGameOpenDlg()" class="btn btn-primary btn-circle btn-md">
          <fa-icon [icon]="faHome" size="2x"></fa-icon>
        </button>
      </div>
      <div class="col-6 ">
        <button (click)="toggleShowHelp()" class="btn btn-primary btn-circle btn-md">
          <fa-icon [icon]="faPen" size="2x"></fa-icon>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
        <app-sudoku-grid (gameStateChanged)="gameStateChanged($event)" (isGameCompeted)="isGameCompeted($event)"></app-sudoku-grid>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
        <app-grid-cell-input
          [numberUsed]="numberUsed"
          (gameStateChanged)="gameStateChanged($event)"></app-grid-cell-input>
      </div>
    </div>
  </div>
</div>
