<div class="cell"
     [ngClass]="{
        selected : isSelected,
        wrong : isWrongValue,
        related: isRelated,
        highlight: isHighlighted,
        highlightWrong: isHighlightWrong,
        editable: isEditable}"
     (click)="selectGridCell($event)"
     (keydown)="onKeyDown($event)"
     (keydown.backspace)="onBackspaceKeydown($event)"
     (keydown.delete)="onBackspaceKeydown($event)"
     tabindex="0">
  <div class="anim-cell" [@numberPuffedIn]="num == '' ? '' : 'puffIn'">{{num}}</div>
</div>
