/* You can add global styles to this file, and also import other style files */

.no-select {
  -webkit-touch-callout:  none; /* iOS Safari */
  -webkit-user-select:    none; /* Safari */
  -khtml-user-select:     none; /* Konqueror HTML */
  -moz-user-select:       none; /* Old versions of Firefox */
  -ms-user-select:        none; /* Internet Explorer/Edge */
  user-select:            none; /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

.lq-container{
  width: 100%;
  z-index: 1;
}
.main-div{
  width:  760px;
  margin: 0 auto;
  z-index: 1;
}
.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  font-size: 8px;
  text-align: center;
}
.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}

.svg circle {
  transition: stroke-dashoffset 1s linear;
  stroke: #666;
  stroke-width: 0.3em;
}
.svg .bar {
  stroke: #FF9F1E;
}
.svg .redbar {
  stroke: #ef5619;
}
.cont {
  display: block;
  height: 50px;
  width: 50px;
  margin: 32px auto;
  box-shadow: 0 0 1em black;
  border-radius: 100%;
  position: relative;
  color: #ff664d;
}
.cont:after {
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  left: 50%;
  top: 50%;
  box-shadow: inset 0 0 .25em black;
  content: attr(accesskey);
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 100%;
  line-height: 40px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 0.25em lightgray;
}
.back-cont:after{
  content: '\232B' !important;
}
.cont.used {
  color: dimgray;
}

/*====================================================================================*/

.grid-row{
  display: flex;
}
.grid-row .grid-col{
  display: inline-block;
}
.grid-row .grid-col .grid-cell{
  display: flex;
  height: 64px;
  width: 64px;
  z-index: 1;
  position: relative;
}
.grid-row .grid-col .grid-cell .cell{
  border-bottom: 1px solid #ffaa00;
  border-right: 1px solid #ffaa00;
}
.grid-cell .cell{
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  outline: 0 solid transparent;
  z-index: 2;
  position: absolute;
  overflow: visible;
}
.grid-input-panel{
  display: block;

  opacity: 1;
}
.grid-input-panel .input-row{
  display: block;
  flex-direction: column;
}
.grid-input-panel .num {
  width: 64px;
  outline: 0 solid transparent;
  display: inline-block;
}
.grid-input-panel .num .counter{
  display: flex;
  flex-direction: row;
}
.grid-input-panel .num .counter>div{
  height: 6px;
  width: 6px;
  border: 1px solid darkgray;
  background-color: lightgrey;
}
.grid-input-panel .num .counter>div.used{
  background-color: #ff664d;
}
.grid-input-helper{
  display: block;
  background-color: white;
  font-size: 0.7rem;
  color: darkseagreen;
}
.grid-input-helper .num {
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0 solid transparent;
}
.grid-row:nth-child(3n) .grid-col .grid-cell .cell{
  border-bottom: 4px solid darkorange;
}
.grid-row .grid-col:nth-child(3n) .grid-cell .cell{
  border-right: 4px solid darkorange;
}
.grid-row:first-of-type .grid-col .grid-cell .cell{
  border-top: 4px solid darkorange;
}
.grid-row .grid-col:first-of-type .grid-cell .cell{
  border-left: 4px solid darkorange;
}
.grid-row:last-of-type .grid-col .grid-cell .cell{
  border-bottom: 4px solid darkorange;
}
.grid-row .grid-col:last-of-type .grid-cell .cell{
  border-right: 4px solid darkorange;
}
.cell.selected, .cell.selected .grid-input-helper {
  background-color: antiquewhite !important;
}
.cell.related, .cell.related .grid-input-helper {
  background-color: #eefdf7;
}
.cell.editable {
  color: darkblue;
}
.cell.wrong {
  color: orangered !important;
}
.cell.highlight{
  background: rgb(174,238,183);
  background: radial-gradient(circle, rgba(174,238,183,1) 0%, rgba(255,255,255,1) 100%);
}
.cell.highlightWrong {
  color: #ff664d;
}


html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .main-div{
    width: 360px;
  }
  .cont{
    margin: 10px auto;
  }
  .grid-row .grid-col .grid-cell{
    height: 40px;
    width: 40px;
  }
  .grid-cell .cell{
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
  }
  .grid-input-helper .num{
    height: 11px;
    width: 11px;
    font-size: 0.6rem;
  }
  .grid-input-panel .num {
    width: 72px;
  }
  .grid-input-panel .input-row{
    flex-direction: row;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .main-div{
    width: 576px;
  }
  .cont{
    margin: 10px auto;
  }
  .grid-row .grid-col .grid-cell{
    height: 64px;
    width: 64px;
  }
  .grid-cell .cell{
    height: 64px;
    width: 64px;
    font-size: 2rem;
  }
  .grid-input-panel .num {
    width: 114px;
  }
  .grid-input-panel .input-row{
    flex-direction: row;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .main-div{
    width: 720px;
  }
  .grid-row .grid-col .grid-cell{
    height: 80px;
    width: 80px;
  }
  .grid-cell .cell{
    height: 80px;
    width: 80px;
    font-size: 3rem;
  }
  .grid-input-panel .num {
    width: 70px;
  }
  .grid-input-panel .input-row{
    flex-direction: row;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .grid-row .grid-col .grid-cell{
    height: 64px;
    width: 64px;
  }
  .grid-cell .cell{
    height: 64px;
    width: 64px;
    font-size: 2.5rem;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .grid-row .grid-col .grid-cell{
    height: 64px;
    width: 64px;
  }
  .grid-cell .cell{
    height: 64px;
    width: 64px;
    font-size: 2.5rem;
  }
}
